<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Bem vindo</h2>

    <div> 
        <text> id: </text>
        <text> <%= id%> </text>
    </div>

    <div>
        <text> Usuário: </text>
        <text> <%= email%> </text>
    </div>
    
    <div>
        <text> senha: </text>
        <text> <%= senha%> </text>
    </div>
    
    <div>
        <text> Nascimento: </text>
        <text> <%= data_nascimento%> </text>
    </div>


    <div>
        <text> nome: </text>
        <text> <%= nome%> </text>
    </div>

</body>
</html>